version: "3.9"
services:
  api:
    container_name: cities_api
    build: ./city-api
    ports:
      - 3000:3000
    environment:
      - PORT=3000
      - MONGO_URL=mongodb://mongo:27017/cities
    restart: unless-stopped

  mongo:
    image: mongo:5.0.15
    volumes:
      - mongo-db-volume:/data/db
    restart: unless-stopped
  mongo-seed:
    container_name: mongo-seed
    build: ./mongo-seed
    depends_on:
      - mongo
    environment:
      - MONGO_URL=mongodb://mongo:27017/cities
    restart: unless-stopped
volumes:
    mongo-db-volume:
